<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/server.js" defer></script>

    <style type="text/css">
        body {
            background-color: purple;
            color: white;
        }
    </style>
</head>
<body>
    <h1>At Bad Wolf Bar</h1>
   
    <h2><%= drinks.name %></h2>
    <!-- <img class="drink pic" src="" -->
    <h3><%= drinks.price %></h3>
    <a href="/drinks">Back</a>
</body>
</html>