<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/server.js" defer></script>

    <style type="text/css">
        body {
            background-color: blue;
            color: white;
        }
    
    </style>
</head>
<body>
    <h1>At Bad Wolf Bar</h1>
   
    <h2><%= drink.name %></h2>
    <img src="<%= drink.image %>" alt="<%= drink.name %>" />
    <h3>Price: <%= drink.price %></h3>
    <a href="/drinks">Back</a>
</body>
</html>